@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

:root {
    /* background-color: #32173c; */
    background-color: #ffffff;
    --fontOne: 'Poor Story', cursive;
}

.papel-left {
    position: absolute;
    top: 9px;
    left: 0;
    border-top: 4px solid #afafaf;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    rotate: -3deg;
    width: 80%;
}

.papel-right {
    position: absolute;
    top: 83px;
    right: 0;
    border-top: 4px solid #afafaf;
    display: flex;
    align-items: flex-start;
    gap: 5px;
    justify-content: flex-end;
    rotate: 17deg;
    width: 50%;
}


div [class^="papel-picado-"] {
    height: 125px;
    width: 150px;
}

.footer-images {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.calaverita {
    display: grid;
    justify-content: center;
    width: 100%;
    margin: 14% auto;
    flex-direction: column;
}

section [class^="esqueleto-"] {
    height: 250px;
    width: 200px;
    margin: 0 auto;
}

.esqueleto-bg {
    background-image: url('../images/esqueletos/esqueleto-4.svg');
}


.caja {
    border: 2px dotted #32173c;
    width: 420px;
    align-items: center;
    padding: 15px;
    background-color: #f5f5dc;
    position: relative;
}

.araña-1{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
}

.araña-2{
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
}

.caja h2 {
    font-family: var(--fontOne);
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    color: #32173c;
}

.caja p {
    font-family: var(--fontOne);
    font-size: 30px;
    text-align: center;
    color: #32173c;
}

.esqueleto-2 {
    background-image: url('../images/esqueletos/esqueleto-1.svg');
}

.esqueleto-3 {
    background-image: url('../images/esqueletos/esqueleto-2.svg');
}

.esqueleto-bg:hover {
    background-image: url('../images/esqueletos/esqueleto-3.svg');
}

.esqueleto-4 {
    background-image: url('../images/esqueletos/esqueleto-3.svg');
}

.creditos {
    border: 2px dotted #ffffff;
    width: 420px;
    align-items: center;
    padding: 15px;
    background-color: #32173c;
    margin-top: 10%;
}

.creditos p:nth-child(1){
    font-family: var(--fontOne);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #f5f5dc;
    margin-block-end: 0;
}

.creditos p:nth-child(2){
    font-family: var(--fontOne);
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: #f5f5dc;
    margin-block-start: 0;
}

@media screen and (max-width: 1439px) {
    div [class^="papel-picado-"] {
        height: 87px;
        width: calc(150px - 10px);
    }
}


@media screen and (max-width: 1299px) {
    .papel-picado-5{
        opacity: 0;
    }
}

@media screen and (max-width: 1114px) {
    .papel-right .papel-picado-1{
        opacity: 0;
    }

    .papel-right {
        top: 40px;
    }
}

@media screen and (max-width: 768px) {
    div [class^="papel-picado-"] {
        height: calc(87px - 10px);
        width: calc(135px - 5px);
    }

    .caja {
        width: 80%;
        margin: 0 auto;
    }

    .creditos {
        width: 80%;
        margin: 10% auto 0;
    }
}

@media screen and (max-width: 425px) {
    div [class^="papel-picado-"] {
        height: calc(87px - 45px);
        width: calc(135px - 5px);
    }
    .papel-right {
        top: 20px;
    }
    .caja {
        padding: 30% 15px 10px;
    }
    .caja p {
        font-family: var(--fontOne);
        font-size: 22px;
        text-align: center;
        color: #32173c;
    }
    .creditos p:nth-child(1),
    .creditos p:nth-child(2) {
        font-size: 22px;
    }
}

@media screen and (max-width: 375px) {
    div [class^="papel-picado-"] {
        height: calc(87px - 65px);
    }
    .papel-right {
        top: 16px;
    }
    .papel-left {
        top: 4px;
        left: 0;
        gap: 0;
        width: 65%;
    }
    .papel-picado-5 {
        opacity: 1;
    }

    
    
}

@media screen and (max-width: 320px){
    .papel-right {
        top: 10px;
    }
}
/* div [class^="papel-picado-"] {
    height: 87px;
    width: 16%;
    width: calc(150px - 80px);
} */